header nav{
    display: flex;
    padding: 60px 80px;
    justify-content: space-between;
}
nav h1{
    font-family: Montserrat;
    font-weight: 400;
    font-style: Italic;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #10B981;
    padding-right: 250px;
}
nav h1 span{
    color: black;
}
nav input{
    width: 322px;
    height: 63px;
    box-shadow: 0px 15px 50px 0px #2E839E12;
    border: none;
    border-radius: 10px;
    padding-left: 20px;    
}
nav .img1{
    width: 38px;
    height: 38px;
    margin-left: -50px;
    margin-top: 12px;
}
nav .btn1{
    width: 229px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #10B981;
    box-shadow: 0px 10px 35px 0px #0000001A;
    margin-left: 50px;
    padding-left: 40px;
}
.btn1 img{
    position: absolute;
    margin-left: -30px;
}
nav .btn2{
    width: 247px;
    height: 60px;
    border-radius: 30px;
    background-color: #10B981;
    box-shadow: 0px 10px 35px 0px #0000001A;
    border: none;
    margin-left: 50px;
    padding-left: 40px;
    color: white;
}
.btn2 img{
    position: absolute;
    margin-left: -30px;
}

header ul{
    width: 100%;
    height: 81px;
    background-color: #10B981;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}