.section1 {
  padding: 20px;
  padding: 100px 100px;
  display: flex;
  gap: 215px;
  justify-content: center;
}
.sec1text{
    padding-top: 60px;
}
.sec1text h1{
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B2626;
}
.sec1text p{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 21px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #2B2626;
    padding-top: 40px;
    padding-bottom: 50px;
}
.sec1text button{
    padding: 22px 82px;
    border-radius: 10px;
    border: none;
    background-color: #10B981;
    color: white;
}
.sec1img div{
    background-color: #ECFEF4;
    padding: 90px 4px;
    text-align: center;
    border-radius: 136px;

}
.sec1img div h3{
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 31px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B2626;
    padding-top: 26px;
}
.sec1img .star{
    position: absolute;
    margin-left: 340px;
}
.viewers{
    display: flex;
    align-items: center;
    gap: -30px;
    padding-top: 160px;
}
.viewers p{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #2B2626;
}
.viewers .img2{
    margin-left: -20px;
}

.viewers .img3{
    margin-left: -20px;
}
.viewers .img4{
    margin-left: -20px;
}