.section2{
    background-color: #845EC2;
    width: 100%;
    height: 591px;
    display: flex;
    justify-content: space-evenly;
}
.sec2img{
    padding: 90px 70px;
}
.sec2img h1{
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;     
}
.sec2img img{
    margin-top: 40px;
}
.sec2img .imgcon{
    display: flex;
    gap: 30px;
}   
.sec2img .imgcon .topimg{
    margin-top: -30px;
    position: relative;
    width: 189px;
    height: 331px;
}
.sec2img p{
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 31px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-left: 212px;
}
.sec2text{
    padding-top: 145px;
}
.sec2text h1{
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.sec2text p{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 21px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.sec2text .btn1{
     padding: 22px 82px;
    border-radius: 10px;
    border: none;
    background-color: #10B981;
    color: white;
}
.sec2text .btn2{
    padding: 22px 82px;
    border-radius: 10px;
    border: none;
    background-color: #845EC2;
    color: white;
}